In [13]:
### Observations and Insights

In [14]:
### Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = mouse_metadata.merge(study_results,on= "Mouse ID")
                                

# Display the data table for preview
mouse_study

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [15]:
 # Checking the number of mice.
    
mouse_study["Mouse ID"].count()
total_mice = mouse_study["Mouse ID"].count()
total_mice

1893

In [16]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_summary = mouse_study.groupby(['Mouse ID', 'Timepoint']).first()
mouse_summary

                   Drug Regimen     Sex  Age_months  Weight (g)  \
Mouse ID Timepoint
a203     0            Infubinol  Female          20          23
         5            Infubinol  Female          20          23
         10           Infubinol  Female          20          23
         15           Infubinol  Female          20          23
         20           Infubinol  Female          20          23
...                         ...     ...         ...         ...
z969     25            Naftisol    Male           9          30
         30            Naftisol    Male           9          30
         35            Naftisol    Male           9          30
         40            Naftisol    Male           9          30
         45            Naftisol    Male           9          30

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                   45.000000                 0
         5                   48.508468                 0
         10                  51.852437                 1
         15                  52.777870                 1
         20                  55.173336                 1
...                                ...               ...
z969     25                  63.145652                 2
         30                  65.841013                 3
         35                  69.176246                 4
         40                  70.314904                 4
         45                  73.867845                 4

[1888 rows x 6 columns]

In [17]:
# Optional: Get all the data for the duplicate mouse ID. 
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [22]:
# Checking the number of mice in the clean DataFrame.
mouse_study["Mouse ID"].nunique()
total_clean_mice = mouse_study["Mouse ID"].nunique()
total_clean_mice

249

In [39]:
### Summary Statistics

# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drugs_list = mouse_study["Drug Regimen"].drop_duplicates()
print(drugs_list)


# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 

# mean, median, variance, standard deviation, and SEM of the tumor volume. 
tumor_volume = mouse_summary.groupby(["Drug Regimen"]).mean("Tumor Volume (mm3)")
tumor_volume_mean = pd.DataFrame(tumor_volume)
tumor_volume_mean


# Assemble the resulting series into a single summary dataframe.
mouse_summary.drop(columns= ["Age_months", "Sex", "Weight (g)", "Metastatic Sites"])

0       Ramicane
10     Capomulin
454    Infubinol
474      Placebo
484     Ceftamin
494     Stelasyn
501    Zoniferol
511     Ketapril
541     Propriva
558     Naftisol
Name: Drug Regimen, dtype: object

                   Drug Regimen  Tumor Volume (mm3)
Mouse ID Timepoint
a203     0            Infubinol           45.000000
         5            Infubinol           48.508468
         10           Infubinol           51.852437
         15           Infubinol           52.777870
         20           Infubinol           55.173336
...                         ...                 ...
z969     25            Naftisol           63.145652
         30            Naftisol           65.841013
         35            Naftisol           69.176246
         40            Naftisol           70.314904
         45            Naftisol           73.867845

[1888 rows x 2 columns]

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

In [ ]:
### Bar and Pie Charts

# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [ ]:
### Quartiles, Outliers and Boxplots


# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

In [ ]:
### Line and Scatter Plots


# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

In [ ]:
###  Correlation and Regression


# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen